## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols


df = pd.read_csv('kc_house_data.csv')
df.head(20) #Just my first import of the data and looking around at the first 20 rows.

In [ ]:
df.tail()

In [53]:
df.describe() #Looking at some possible telling details. I'm thinking of changing waterfronts values to True and False just for readability.
#I think it is interesting that 75% of the homes have 4 bedrooms. It's possible homes with 4 bedrooms were more desirable to build for economic purposes: having more people in housing, increase of costs for potential profits, and better area efficiency. 
#I can see the outliers for some of the predictors that I would like to take out for regressing. 
#I would like to take out the outliers for bedrooms, bathrooms, sqft_living, sqft_above, sqft_living15, sqft_lot15

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
outlier_Data_Values = pd.df['bedrooms','bathrooms','sqft_living','sqft_above','sqft_living15','sqft_lot15']
outlier_Data_Values

In [ ]:
#Create a bar graph with percents as y, number of bedrooms for x, to show interesting finding from above.

In [ ]:
df.isna().sum()

In [ ]:
df.shape #Checking out the original matrix dimensions to understand size.

In [ ]:
df.corr() #Checking out if any of my original assumptions about the data set could be supported by the correlation. Realized that lat is far more correlated with price than I assumed.

In [ ]:

abs(df.corr()) > 0.75 #Shows that none of the columns, except price itself, is highly correlated with price.

In [ ]:
sns.heatmap(abs(df.corr()) > 0.75,center=0)
#Orange blocks represent .75 correlation or greater, which our heatmap clearly shows which predictors will cause multicollinearity and should be removed.

In [ ]:
y = 'price'
x =  ['date','bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']
predictors = '+'.join(x)
formula = y + '~' + predictors
model = ols(formula=formula, data=df).fit()
model.summary()
#First OLS only excluding 'id'.

In [ ]:
df.columns